@page "/Cart"

<!DOCTYPE html>


<head>
    <PageTitle>My Library Cart</PageTitle>
    <link rel="stylesheet" href="../wwwroot/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../wwwroot/css/Cart.css"/>
</head>



<body>
     @* PUT HEADER TASKBAR THING HERE*@

    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1 id="cart-title">Your Cart</h1>
                <table class="table">
                    <tbody>


                        <tr class="cart-item">
                            <td>
                                <img src="images/Book9.png" alt ="Book Cover" height="120" />
                            </td>
                            <td class="book-details"> 
                                <p>Title: Outlive: The Science and Art of Longetivy</p>
                                <p>Author: Peter Attia</p>
                            </td>
                            <td>Paperback</td>
                            <td>Return Deadline: 03/12/2023</td>
                            <td>
                                <button class="btn btn-danger">Remove</button>
                            </td>
                        </tr>


                        <tr class="cart-item">
                            <td>
                                <img src="images/Book2.png" alt="Book Cover" height="120" />
                            </td>
                            <td class="book-details">
                                <p>Title: My Secret Sister</p>
                                <p>Author: Lauren Westwood</p>
                            </td>
                            <td>Paperback</td>
                            <td>Return Deadline: 03/12/2023</td>
                            <td>
                                <button class="btn btn-danger">Remove</button>
                            </td>
                        </tr>

                        <tr class="cart-item">
                            <td>
                                <img src="images/Book3.png" alt="Book Cover" height="120" />
                            </td>
                            <td class="book-details">
                                <p>Title: The Fifth Juror</p>
                                <p>Author: Lori Lacefield</p>
                            </td>
                            <td>Paperback</td>
                            <td>Return Deadline: 03/12/2023</td>
                            <td>
                                <button class="btn btn-danger">Remove</button>
                            </td>
                        </tr>





                    </tbody>
                </table>
            </div>


    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Order Summary</h5>
                <p class="card-text">Total Number of Books: 3</p>
                <p class="card-text">Nearest Return Date: 03/12/2023</p>
                <button class="btn btn-primary">Complete Signout</button>
            </div>
        </div>
    </div>





        </div>
    </div>
</body>

