@page "/createAccount"

<!DOCTYPE html>

<head>
    <PageTitle>Profile</PageTitle>
</head>


<body>
    <NavBar />

    <div style=" display: flex; flex-direction: row;">
        <input type="image" src="images/back.png" class="back-btn"/>
        <p> Back</p>
    </div>

    <div style=" display: flex; flex-direction: column; align-items: center;">


        <div style=" margin-top: 125px;">
            <h1 class="header"> We just need a bit more information to create your account: </h1>
        </div>

        <div style=" display: flex;
             flex-direction: row; margin-top: 20px;">
            <input class="info-box-two" type="text" placeholder="Email Address">
            <input class="info-box-two" type="text" placeholder="Confirm Email Address">
        </div>

        <div style=" display: flex;
             flex-direction: row; margin-top: 20px;">
            <input class="info-box" type="text" placeholder="Create Pin">
            <input class="info-box" type="text" placeholder="Confirm Pin">
        </div>

        <div style=" display: flex;
             flex-direction: row; margin-top: 20px;">
            <input type="checkbox" />
            <div style=" margin-left: 10px; margin-top: 10px;">
                <p> I agree to the terms and conditions </p>
            </div>
          
        </div>

        

        <button class="account-btn">
            <p> Create Account</p>
        </button>

        <div style=" margin-top: 70px;">
            <p> Already have an account? </p>
        </div>

        <button class="login-btn">
            <p> Login</p>
        </button>




    </div>
</body>


<style>
    .header {
        font-size: 150%;
    }

    .info-box{
        width: 150px;
        height: 50px;
        border-width: 1px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
    }

    .info-box-two {
        width: 200px;
        height: 50px;
        border-width: 1px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
    }

    .account-btn {
        width: 150px;
        height: 40px;
        margin-top: 20px;
    }

    .login-btn {
        width: 75px;
        height: 30px;
        margin-top: 10px;
    }
        

    .back-btn{
        width: 75px;
        height: 30px;
    }

</style>

