@page "/createAccount"

<!DOCTYPE html>

<head>
    <PageTitle>Profile</PageTitle>
</head>


<body>
    <nav>
        <a class="links" href="#">Home</a>
        <a class="links" href="/Cart">My Bag</a>
        <div class="dropdown-menu">
            <button class="menu-btn">My Account </button>
            <div class="menu-content">
                <a class="links-hidden" href="/Profile">Profile</a>
                <a class="links-hidden" href="/MyBooks">My Books</a>
                <a class="links-hidden" href="/Hold">On Hold</a>
                <a class="links-hidden" href="/OverdueDefault">Payments</a>
                <a class="links-hidden" href="/History">History</a>
            </div>
        </div>
        <div class="dropdown-menu">
            <button class="menu-btn">Login </button>
            <div class="menu-content">
                <input class="login" type="text" placeholder="Library Card">
                <input class="login" type="text" placeholder="PIN">
                <u><span style="color:blue; margin-left:3px;">Forgot Password?</span></u>
                <u><span style="color: blue; margin-left:3px;">Create Account</span></u>
                <a class="links-hidden1" href="#">Login</a>
            </div>
        </div>
    </nav>

    <div style=" display: flex; flex-direction: row;">
        <input type="image" src="images/back.png" class="back-btn"/>
        <p> Back</p>
    </div>

    <div style=" display: flex; flex-direction: column; align-items: center;">


        <div style=" margin-top: 125px;">
            <h1 class="header"> We just need a bit more information to create your account: </h1>
        </div>

        <div style=" display: flex;
             flex-direction: row; margin-top: 20px;">
            <input class="info-box-two" type="text" placeholder="Email Address">
            <input class="info-box-two" type="text" placeholder="Confirm Email Address">
        </div>

        <div style=" display: flex;
             flex-direction: row; margin-top: 20px;">
            <input class="info-box" type="text" placeholder="Create Pin">
            <input class="info-box" type="text" placeholder="Confirm Pin">
        </div>

        <div style=" display: flex;
             flex-direction: row; margin-top: 20px;">
            <input type="checkbox" />
            <div style=" margin-left: 10px; margin-top: 10px;">
                <p> I agree to the terms and conditions </p>
            </div>
          
        </div>

        

        <button class="account-btn">
            <p> Create Account</p>
        </button>

        <div style=" margin-top: 70px;">
            <p> Already have an account? </p>
        </div>

        <button class="login-btn">
            <p> Login</p>
        </button>




    </div>
</body>


<style>
    .header {
        font-size: 150%;
    }

    .info-box{
        width: 150px;
        height: 50px;
        border-width: 1px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
    }

    .info-box-two {
        width: 200px;
        height: 50px;
        border-width: 1px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
    }

    .account-btn {
        width: 150px;
        height: 40px;
        margin-top: 20px;
    }

    .login-btn {
        width: 75px;
        height: 30px;
        margin-top: 10px;
    }
        

    .menu-btn {
        color: white;
        background-color: #5990ab;
        font-size: 18px;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: none;
    }

    .back-btn{
        width: 75px;
        height: 30px;
    }

    .dropdown-menu {
        position: relative;
        display: inline-block;
        background-color: #5990ab;
        border: none;
    }

    .menu-content {
        display: none;
        position: absolute;
        background-color: #5990ab;
        min-width: 160px;
        z-index: 1;
    }

    nav {
        background-color: #5990ab;
    }

    .links,
    .links-hidden {
        display: inline-block;
        color: white;
        padding: 10px 16px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
    }

    .links-hidden, .links-hidden1 {
        display: block;
    }

    .links {
        display: inline-block;
    }

        .links-hidden:hover, .links-hidden1:hover,
        .links:hover {
            background-color: #becdd1;
            color: white;
        }

    .dropdown-menu:hover .menu-content {
        display: block;
    }

    .dropdown-menu:hover .menu-btn {
        background-color: #5990ab;
    }

    .login {
        margin-left: 3px;
        margin-bottom: 5px;
        margin-top: 5px;
        width: 153px;
    }

    .links-hidden1 {
        display: inline-block;
        color: white;
        padding: 0px 5px;
        background-color: #69747a;
        text-decoration: none;
        font-size: 16px;
        margin-left: 3px;
        margin-bottom: 3px;
    }
</style>

