@page "/forgotPasswordPage"
@inject NavigationManager NavigationManager
@using test.Shared

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<NavBar />

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="() => message = null"></button>
    </div>
}

<section style="margin-top:50px;">
    <div class="container py-3 h-75">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card" style="background-color: #222222; border-radius: 1rem; ">
                    <div class="card-body p-4 text-center">
                        <div class="mb-md-4 mt-md-3 pb-4">
                            <h2 class="fw-bold mb-2 text-uppercase" style="color: #ffffff;">Forgot Password</h2>
                            <p class="text-white-50 mb-3">Please enter your email address associated with your account!</p>
                            <div style="margin-top:30px;" class="form-outline form-white mb-3">
                                <input type="email" id="typeEmailX" class="form-control form-control-lg" style="background-color: #333333; color: #ffffff;" placeholder="Email" @bind="emailValue" />
                            </div>
                            <button @onclick="ResetPassword" class="btn btn-outline-light btn-lg px-4" type="submit" style="color: #ffffff; border-color: #ffffff;">Reset Password</button>
                        </div>
                        <div>
                            <p class="mb-0" style="color: #ffffff;">
                                Remember your password? <a href="/loginPage" class="text-white-50 fw-bold" style="color: #ffffff;">Login</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    private string emailValue;
    private string message;

    private async Task ResetPassword()
    {
        await Task.Delay(2000);
        // Send password reset email to the email address entered
        message = "An email has been sent tot he email address! Please see email to reset your password.";
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.CompletedTask;
    }
}
