@page "/History"

<PageTitle>History</PageTitle>

<NavBar />

<p>
    <br />
</p>

<h3>Account History</h3>
<hr />

<p>
    <br />
</p>

<table>
    <tr>
        <td>Book</td>
        <td>Check Out Date</td>
        <td>Return By</td>
        <td>Date Returned</td>
    </tr>
    <tr>
        <td>Naruto Volume 100</td>
        <td>March, 5th, 2023</td>
        <td>March, 28th, 2023</td>
        <td>March, 12th, 2023</td>
    </tr>
    <tr>
        <td>One Piece Volume 1</td>
        <td>February, 20th, 2023</td>
        <td>
            March, 10th, 2023 &nbsp <button class="link5"> Pay Fees </button>
        </td>
        <td>Not Returned</td>
    </tr>
    <tr>
        <td>Bleach volume 6</td>
        <td>March, 2nd, 2023</td>
        <td>
            March, 20th, 2023 &nbsp <button class="link6"> Extend </button>
        </td>
        <td>Not Returned</td>
    </tr>
    <tr>
        <td>Can't Hurt Me</td>
        <td>February, 28th, 2023</td>
        <td>
            March, 15th, 2023 &nbsp <button class="link6"> Extend </button>
        </td>
        <td>Not Returned</td>
    </tr>
</table>

<style>
    .link5 {
        background-color: lightgrey;
        color: red;
        border: 2px solid #000000;
    }

    .link6 {
        background-color: lightgrey;
        color: deepskyblue;
        border: 2px solid #000000;
    }

    table {
        width: 1300px;
    }

    table, td {
        border: solid #000;
    }
</style>

@code {

}

