@page "/Hold"

<!DOCTYPE html>

<NavBar />

<head>
    <PageTitle>My Books On Hold</PageTitle>
    <link rel="stylesheet" href="../wwwroot/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../wwwroot/css/Hold.css" />
</head>


<body>    
    <div class="container">
        <div class="row">
            <div class="col-lg-11">
                <h1 id="hold-title">My Books On Hold</h1>
                <div>
                    <input class="search" type="text" placeholder="Search...">
                </div>
                <table class="table">
                    <tbody>


                        <tr class="hold-item">
                            <td>
                                <img src="images/Book9.png" alt="Book Cover" height="120" />
                            </td>
                            <td class="book-details">
                                <p>Title: Outlive: The Science and Art of Longetivy</p>
                                <p>Author: Peter Attia</p>
                                <p>Type: Paperback</p>
                            </td>
                            <td>
                                <p>Location: Nose Hill Library,</p>
                                <p>1530 Northmount Dr NW</p>

                            </td>

                            <td>
                                <p class="hold-status">Status: Ready to be picked up</p>
                                <p>Holding Until: 03/20/2023</p>
                            </td>
                            <td>
                                <button class="btn btn-danger">Remove</button>
                            </td>
                        </tr>


                        <tr class="hold-item">
                            <td>
                                <img src="images/Book2.png" alt="Book Cover" height="120" />
                            </td>
                            <td class="book-details">
                                <p>Title: My Secret Sister</p>
                                <p>Author: Lauren Westwood</p>
                                <p>Type: Paperback</p>
                            </td>
                            <td>
                                <p>Location: Nose Hill Library,</p>
                                <p>1530 Northmount Dr NW</p>

                            </td>
                            <td>
                                <p class="hold-status">Status: Waitlist Pos 10</p>
                                <p>Holding Until: N/A</p>
                            </td>
                            <td>
                                <button class="btn btn-danger">Remove</button>
                            </td>
                        </tr>

                        <tr class="hold-item">
                            <td>
                                <img src="images/Book3.png" alt="Book Cover" height="120" />
                            </td>
                            <td class="book-details">
                                <p>Title: The Fifth Juror</p>
                                <p>Author: Lori Lacefield</p>
                                <p>Type: Paperback</p>
                            </td>
                            <td>
                                <p>Location: Nose Hill Library,</p>
                                <p>1530 Northmount Dr NW</p>

                            </td>
                            <td>
                                <p class="hold-status">Status: Waitlist Pos 4</p>
                                <p>Holding Until: N/A</p>
                            </td>
                            <td>
                                <button class="btn btn-danger">Remove</button>
                            </td>
                        </tr>

                        <tr class="hold-item">
                            <td>
                                <img src="images/Book4.png" alt="Book Cover" height="120" />
                            </td>
                            <td class="book-details">
                                <p>Title: Mad Honey</p>
                                <p>Author: Jennifer Finney Boylan</p>
                                <p>Type: Hardcover</p>
                            </td>
                            <td>
                                <p>Location: Nose Hill Library,</p>
                                <p>1530 Northmount Dr NW</p>

                            </td>

                            <td>
                                <p class="hold-status">Status: Waitlist Pos 4</p>
                                <p>Holding Until: N/A</p>
                            </td>

                            <td>
                                <button class="btn btn-danger">Remove</button>
                            </td>
                        </tr>

                        <tr class="hold-item">
                            <td>
                                <img src="images/Book5.png" alt="Book Cover" height="120" />
                            </td>
                            <td class="book-details">
                                <p>Title: Empath</p>
                                <p>Author: Judy Byce</p>
                                <p>Type: Paperback</p>
                            </td>
                            <td>
                                <p>Location: Nose Hill Library,</p>
                                <p>1530 Northmount Dr NW</p>

                            </td>

                            <td>
                                <p class="hold-status">Status: Waitlist Pos 4</p>
                                <p>Holding Until: N/A</p>
                            </td>

                            <td>
                                <button class="btn btn-danger">Remove</button>
                            </td>
                        </tr>





                    </tbody>
                </table>
            </div>


            <div class="col-lg-1"></div>





        </div>
    </div>
</body>
