@page "/"

<!DOCTYPE html>
@inject NavigationManager NavigationManager

<head>
    <PageTitle>Library Interface</PageTitle>
</head>


<body>
   
    <nav>
        <a class="links" href="#">Home</a>
        <a class="links" href="/Cart">My Bag</a>
        <div class="dropdown-menu">
            <button class="menu-btn">My Account </button>
            <div class="menu-content">
                <a class="links-hidden" href="/Profile">Profile</a>
                <a class="links-hidden" href="/MyBooks">My Books</a>
                <a class="links-hidden" href="/Hold">On Hold</a>
                <a class="links-hidden" href="/OverdueDefault">Payments</a>
                <a class="links-hidden" href="/History">History</a>
            </div>
        </div>
        <div class="dropdown-menu">
            <a class="menu-btn" href="/loginPage">Login</a>
            <div class="menu-content">
                <input class="login" type="text" placeholder="Library Card">
                <input class="login" type="text" placeholder="PIN">
                <u><span style="color:blue; margin-left:3px;">Forgot Password?</span></u>
                <u><span style="color: blue; margin-left:3px;">Create Account</span></u>
                <a class="links-hidden1" href="#">Login</a>
            </div>
        </div>
    </nav>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div style="
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        ">
        <div>
            <input class="search" type="text" placeholder="Search...">
        </div>
        <div>
            <button style="
                opacity: 75%;
                height: 34px;
                border: 1px solid;
            ">
                Search
            </button>
        </div>
    </div>

    <div class="Header">
        <div class="Title">
            Popular
        </div>
        <div class="Link>">
            <a href="#">See All ></a>
        </div>
    </div>

    <div class="bookrow">
        <div>
            <img type="button" @onclick="() => BookOpen(1)" class="book1" src="images/Book1.png" />
            <div style="
                color: #007185;
                width: 150px;
                font-size:15px">
                <a href="/OpenBook">Can't Hurt Me</a>
            </div>
            <div style="
                width: 150px;
                font-size:12px">
                by David Goggins
            </div>
            <div style="
                color: green;
                width: 150px;
                font-size:12px">
                Available
            </div>
        </div>

        <div>
            <img type="button" class="book1" @onclick="() => BookOpen(2)" src="images/Book2.png" />
            <div style="
                color: #007185;
                width: 150px;
                font-size:15px">
                <u>My Secret Sister</u>
            </div>
            <div style="
                width: 150px;
                font-size:12px">
                by Lauren Westwood
            </div>
            <div style="
                color: green;
                width: 150px;
                font-size:12px">
                Available
            </div>
        </div>

        <div>
            <img type="button" class="book1" @onclick="() => BookOpen(3)" src="images/Book3.png" />
            <div style="
                color: #007185;
                width: 150px;
                font-size:15px">
                <u>The Fifth Juror</u>
            </div>
            <div style="
                width: 150px;
                font-size:12px">
                by Lori Lacefield
            </div>
            <div style="
                color: red;
                width: 150px;
                font-size:12px">
                Unavailable
            </div>
        </div>
        <div>
            <img type="button" class="book1" @onclick="() => BookOpen(4)" src="images/Book4.png" />
            <div style="
                color: #007185;
                width: 150px;
                font-size:15px">
                <u>Mad Honey</u>
            </div>
            <div style="
                width: 150px;
                font-size:12px">
                by Jennifer Finney Boylan
            </div>
            <div style="
                color: green;
                width: 150px;
                font-size:12px">
                Available
            </div>
        </div>

        <div>
            <img type="button" class="book1" @onclick="() => BookOpen(5)" src="images/Book5.png" />
            <div style="
                color: #007185;
                width: 150px;
                font-size:15px">
                <u>Empath</u>
            </div>
            <div style="
                width: 150px;
                font-size:12px">
                by Judy Dyer
            </div>
            <div style="
                color: red;
                width: 150px;
                font-size:12px">
                Unavailable
            </div>
        </div>
    </div>


    <div class="Header">
        <div class="Title1">
            New Releases
        </div>
        <div class="Link>">
            <a href="#">See All ></a>
        </div>
    </div>

    <div class="bookrow">
        <div>
            <img type="button" class="book1" @onclick="() => BookOpen(6)" src="images/Book6.png" />
            <div style="
                color: #007185;
                width: 150px;
                font-size:15px">
                <u>Never Never</u>
            </div>
            <div style="
                width: 150px;
                font-size:12px">
                by Collen Hoover
            </div>
            <div style="
                color: red;
                width: 150px;
                font-size:12px">
                Unavailable
            </div>
        </div>

        <div>
            <img type="button" class="book1" @onclick="() => BookOpen(7)" src="images/Book7.png" />
            <div style="
                color: #007185;
                width: 150px;
                font-size:15px">
                <u>Dog Man: Twenty Thousand Fleas Under the Sea</u>
            </div>
            <div style="
                width: 150px;
                font-size:12px">
                by Dav Pilkey
            </div>
            <div style="
                color: green;
                width: 150px;
                font-size:12px">
                Available
            </div>
        </div>

        <div>
            <img type="button" class="book1" @onclick="() => BookOpen(8)" src="images/Book8.png" />
            <div style="
                color: #007185;
                width: 150px;
                font-size:15px">
                <u>Old Babies in the Woods: Stories</u>
            </div>
            <div style="
                width: 150px;
                font-size:12px">
                by Margaret Atwood
            </div>
            <div style="
                color: green;
                width: 150px;
                font-size:12px">
                Available
            </div>
        </div>

        <div>
            <img type="button" class="book1" @onclick="() => BookOpen(9)" src="images/Book9.png" />
            <div style="
                color: #007185;
                width: 150px;
                font-size:15px">
                <u>Outlive</u>
            </div>
            <div style="
                width: 150px;
                font-size:12px">
                by Peter Attied, MD
            </div>
            <div style="
                color: green;
                width: 150px;
                font-size:12px">
                Available
            </div>
        </div>

        <div>
            <img type="button" class="book1" @onclick="() => BookOpen(10)" src="images/Book10.png" />
            <div style="
                color: #007185;
                width: 150px;
                font-size:15px">
                <u>Dragon Masters: Cure of the Shadow Dragon</u>
            </div>
            <div style="
                width: 150px;
                font-size:12px">
                by Tracy West
            </div>
            <div style="
                color: red;
                width: 150px;
                font-size:12px">
                Unvailable
            </div>
        </div>
    </div>

    @code {
        void BookOpen(int id)
        {
            NavigationManager.NavigateTo($"/OpenBook/{id}");

        }

        private void OpenLogin()
        {
            NavigationManager.NavigateTo("/loginPage");

        }
    }



    <style>
        .links-hidden1 {
            align-items: flex-end;
        }

        .bookrow {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .Header {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
        }

        .Link {
            flex: 1;
        }

        .book1 {
            width: 150px;
            height: 250px;
            object-fit: cover;
            display: inline-block;
            margin-right: 20px;
        }

        .Title {
            font-size: 30px;
            font-weight: bold;
        }

        .Title1 {
            font-size: 30px;
            font-weight: bold;
            margin-top: 10px;
        }

        .search {
            width: 224.5px;
            font-size: 20px;
            border: 1px solid;
        }

        .menu-btn {
            color: white;
            background-color: #5990ab;
            font-size: 18px;
            font-weight: bolder;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border: none;
            text-decoration: none;
        }

            .menu-btn:hover {
                color: white;
            }

        .dropdown-menu {
            position: relative;
            display: inline-block;
            background-color: #5990ab;
            border: none;
        }

        .menu-content {
            display: none;
            position: absolute;
            background-color: #5990ab;
            min-width: 160px;
            z-index: 1;
        }

        nav {
            background-color: #5990ab;
        }

        .links,
        .links-hidden {
            display: inline-block;
            color: white;
            padding: 10px 16px;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
        }

        .links-hidden, .links-hidden1 {
            display: block;
        }

        .links {
            display: inline-block;
        }

            .links-hidden:hover, .links-hidden1:hover,
            .links:hover {
                background-color: #becdd1;
                color: white;
            }

        .dropdown-menu:hover .menu-content {
            display: block;
        }

        .dropdown-menu:hover .menu-btn {
            background-color: #5990ab;
        }

        .login {
            margin-left: 3px;
            margin-bottom: 5px;
            margin-top: 5px;
            width: 153px;
        }

        .links-hidden1 {
            display: inline-block;
            color: white;
            padding: 0px 5px;
            background-color: #69747a;
            text-decoration: none;
            font-size: 16px;
            margin-left: 3px;
            margin-bottom: 3px;
        }
    </style>
</body>
