@page "/OpenBook/{id:int}"

@{
    string bookTitle = "";
    string bookAuthor = "";
    string bookDescription = "";
    string bookImage = "";
    if (id == 1)
    {
        bookTitle = "Can't Hurt Me";
        bookAuthor = "David Goggins";
        bookDescription = " For David Goggins, childhood was a nightmare - poverty, prejudice, and physical abuse colored his days and haunted his nights. But through self-discipline, mental toughness, and hard work, Goggins transformed himself from a depressed, overweight young man with no future into a U.S. Armed Forces icon and one of the world's top endurance athletes. The only man in history to complete elite training as a Navy SEAL, Army Ranger, and Air Force Tactical Air Controller, he went on to set records in numerous endurance events, inspiring Outside magazine to name him The Fittest (Real) Man in America.  In Can't Hurt Me , he shares his astonishing life story and reveals that most of us tap into only 40% of our capabilities. Goggins calls this The 40% Rule, and his story illuminates a path that anyone can follow to push past pain, demolish fear, and reach their full potential.";
        bookImage = "images/Book1.png";
    }

    else if (id == 2)
    {
        bookTitle = "My Secret Sister";
        bookAuthor = "Lauren Westwood";
        bookDescription = " “I can’t imagine not having a sister— not having you.”\n\nWe both know it’s a lie. So many times, I’ve had to imagine it. What will it be like to see her lying there, her body empty, her spirit gone?\n\nI take her hand and squeeze it hard. “Are you scared?” I say.\n\n“Yeah… I am.”\n\nMY SECRET SISTER\n\nTwo women, two secret heartbreaks…\n\nSan Francisco – Claire is living every mother’s worst nightmare. Her daughter, Jess, is suffering from a rare illness and desperately needs a bone marrow transplant. In a race against time, Claire will do anything to find the match that will save her daughter’s life.\n\nWashington D.C. – Marianne has suffered a heartbreaking string of miscarriages and IVF failures. With her perfect life crumbling around her, she will do whatever it takes to become a mother.\n\n\nTwo DNA tests...\n\nWhen the results of a DNA test show an unexpected relationship between Claire and Marianne, Claire must confront the darkest secrets of her past and make an impossible choice about the future.\n\nOne big lie...\n\nIs Claire’s secret sister the answer to her prayers?\n\nOr will she cost her everything?\n\nA powerful and emotional page-turner about motherhood, family secrets, and the choices a mother faces to keep her children safe. Perfect for fans of Liane Moriarty, Jojo Moyes, and Jodi Picoult.";
        bookImage = "images/Book2.png";

    }
    else if (id == 3)
    {
        bookTitle = "The Fifth Juror";
        bookAuthor = "Lori Lacefield";
        bookDescription = " Former juror Jess Dawson is facing a difficult time in her life, raising an autistic son and navigating a failing marriage, when her past service as a juror on a high-profile death penalty case comes back to haunt her. Mikael Kriskan, a young Russian the jury sentenced to death for killing his adoptive American parents one cold Colorado night, is nearing his execution date when the foreman of their jury and his wife are found dead, killed in the same manner as Kriskan’s parents.\n\nThen, a second juror appears to commit suicide and leaves a disturbing note to his fellow jurors attached to his chest: KJ - do the right thing. Only Jess knows the true meaning of the message but as others begin to suspect the truth, Jess quickly finds herself in the crosshairs of Kriskan’s prosecutor, also her lover, who’s intent on executing Kriskan, and members of the Russian mob, who are hell bent on returning the genius Kriskan to his Russian roots.\n\nThe choice they give former juror Jess Dawson seems easy: Kill Mikael, kill her son. Save Mikael, save her son. But in a case where the post-conviction appeals have run out, the impact the truth will have upon her family is dire, and the lives of her fellow jurors are equally at stake—this choice will be anything but easy.\n\nThe Fifth Juror is the second nail-biting suspense thriller in the Women of Redemption Series, books that feature women who may not be perfect, but perfectly kick-ass when given a second chance.\n\nIf you like strong female heroines, titanic twists, and danger around every corner, you’ll love this edge-of-your-seat read! For fans of John Grisham, L.T. Ryan’s Rachel Hatch, and James Patterson’s fast paced plots.";
        bookImage = "images/Book3.png";
    }

    else if (id == 4)
    {
        bookTitle = "Mad Honey";
        bookAuthor = "Jennifer Finney Boylan";
        bookDescription = " A soul-stirring novel about what we choose to keep from our past, and what we choose to leave behind, from the New York Times bestselling author of Wish You Were Here and the bestselling author of She's Not There.\n\nOlivia McAfee knows what it feels like to start over. Her picture-perfect life—living in Boston, married to a brilliant cardiothoracic surgeon, raising a beautiful son, Asher—was upended when her husband revealed a darker side. She never imagined she would end up back in her sleepy New Hampshire hometown, living in the house she grew up in, and taking over her father's beekeeping business.\n\nLily Campanello is familiar with do-overs, too. When she and her mom relocate to Adams, New Hampshire, for her final year of high school, they both hope it will be a fresh start. \n\nAnd for just a short while, these new beginnings are exactly what Olivia and Lily need. Their paths cross when Asher falls for the new girl in school, and Lily can’t help but fall for him, too. With Ash, she feels happy for the first time. Yet at times, she wonders if she can she trust him completely . . .\n\nThen one day, Olivia receives a phone call: Lily is dead, and Asher is being questioned by the police. Olivia is adamant that her son is innocent. But she would be lying if she didn’t acknowledge the flashes of his father’s temper in him, and as the case against him unfolds, she realizes he’s hidden more than he’s shared with her.\n\nMad Honey is a riveting novel of suspense, an unforgettable love story, and a moving and powerful exploration of the secrets we keep and the risks we take in order to become ourselves.";
        bookImage = "images/Book4.png";
    }
    else if (id == 5)
    {
        bookTitle = "Empath"; ;
        bookAuthor = "Judy Dyer";
        bookDescription = " Have you ever felt the weight of the world on your shoulders?\n\nDo you live through your everyday feeling waves of others’ emotions crashing into you?\n\nYou may or may not have realized – but you carry the great blessing and power of being an Empath.\n\nOften, Empaths who are new to the understanding of their gift, find it difficult to control the sources of overwhelming feelings. The constant reception of other people’s emotions can cause a roller coaster of stress and anxiety. Due to the high sensitivity of feelings of those around them, an Empath can end up caring for the needs of everyone else but their own.\n\nSo where do you start in understanding how to embrace your gift and channel this hypersensitivity into something beautiful?\n\nIn Empath: A Complete Guide for Developing Your Gift and Finding Your Sense of Self, you will find the loving and gentle ways Judy Dyer offers to guide a new Empath through their journey. This book will usher your spirit to embrace the many blessings of being an Empath. It will also open new doors of opportunity for you to live your life abundantly. You will discover strategies and coping skills such as:\n\nHow to embrace your gift fully\nUnderstanding the potentials of your energy and abilities\nCoping with spiritual hypersensitivity\nUtilizing spiritual healing tools\nHealing from negative energies that lead to insomnia, exhaustion, and adrenal fatigue\nProtecting yourself from draining your energy\nNormalizing the day-to-days with your gift\n\nYou will be given a set of practical solutions that you can try out immediately. In doing so, you gain the grounded knowledge of this book which will allow you to fully thrive through your journey.\n\nWon’t you want to start living with a much better understanding of the blessing you have at hand? Get your copy of this fantastic guide as a part of your commitment to improving today!";
        bookImage = "images/Book5.png";
    }
    else if (id == 6)
    {
        bookTitle = "Never Never"; ;
        bookAuthor = "Collen Hoover";
        bookDescription = " Charlie Wynwood and Silas Nash have been best friends since they could walk. They've been in love since the age of fourteen. But as of this morning... they are complete strangers. Their first kiss, their first fight, the moment they fell in love... every memory has vanished.\n\nCharlie and Silas must work together to uncover the truth about what happened to them and why. But the more they learn about the couple they used to be, the more they question why they were ever together to begin with.\n\n#1 New York Times bestselling author of Hopeless joins forces with the New York Times bestselling author of Mud Vein. Together, they have created a gripping, romantic tale unlike any other.";
        bookImage = "images/Book6.png";
    }
    else if (id == 7)
    {
        bookTitle = "Dog Man: Twenty Thousand Fleas Under the Sea"; ;
        bookAuthor = "Dav Pilkey";
        bookDescription = " DOG MAN IS BACK! The highly anticipated new graphic novel in the #1 worldwide bestselling series starring everyone's favorite canine superhero by award-winning author and illustrator Dav Pilkey!\nPiggy has returned, and his newest plot is his most diabolical yet. WHAT other new villains are on the horizon? WHERE are they all coming from? And WHO will step forward to save the city when scoundrels sabotage our Supa Buddies?\n\nWith themes of friendship and doing good, Dog Man: Twenty Thousand Fleas Under the Sea is packed with action and hilarity. Featuring \"Chomp-O-Rama,\" a brand-new song, a monstrous Mighty Mite -- and so much more than ever before! IT'S HEROIC, IT'S EPIC!\n\nFor more creative, heartfelt adventures, join Flippy and Li'l Petey in the Cat Kid Comic Club series. And don't forget the series that started it all: Captain Underpants! A new edition of The Adventures of Captain Underpants includes a brand new Dog Man comic! Look for Dog Man with Love: The Official Coloring Book, too!";
        bookImage = "images/Book7.png";
    }
    else if (id == 8)
    {
        bookTitle = "Old Babies in the Woods: Stories";
        bookAuthor = "Margaret Atwood";
        bookDescription = "A dazzling collection of fifteen short stories from Margaret Atwood, the internationally acclaimed, award-winning author of The Handmaid's Tale and The Testaments.\n\nMargaret Atwood has established herself as one of the most visionary and canonical authors in the world. This collection of fifteen extraordinary stories—some of which have appeared in The New Yorker and The New York Times Magazine—explore the full warp and weft of experience, speaking to our unique times with Atwood’s characteristic insight, wit and intellect. \n\nThe two intrepid sisters of the title story grapple with loss and memory on a perfect summer evening; “Impatient Griselda” explores alienation and miscommunication with a fresh twist on a folkloric classic; and “My Evil Mother” touches on the fantastical, examining a mother-daughter relationship in which the mother purports to be a witch. At the heart of the collection are seven extraordinary stories that follow a married couple across the decades, the moments big and small that make up a long life of uncommon love—and what comes after.\n\nReturning to short fiction for the first time since her 2014 collection Stone Mattress, Atwood showcases both her creativity and her humanity in these remarkable tales which by turns delight, illuminate, and quietly devastate.";
        bookImage = "images/Book8.png";
    }
    else if (id == 9)
    {
        bookTitle = "Outlive"; ;
        bookAuthor = "Peter Attied, MD";
        bookDescription = "A groundbreaking manifesto on living better and longer that challenges the conventional medical thinking on aging and reveals a new approach to preventing chronic disease and extending long-term health, from a visionary physician and leading longevity expert\n\n“One of the most important books you’ll ever read.”—Steven D. Levitt, New York Times bestselling author of Freakonomics\n\nWouldn’t you like to live longer? And better? In this operating manual for longevity, Dr. Peter Attia draws on the latest science to deliver innovative nutritional interventions, techniques for optimizing exercise and sleep, and tools for addressing emotional and mental health.\n\nFor all its successes, mainstream medicine has failed to make much progress against the diseases of aging that kill most people: heart disease, cancer, Alzheimer’s disease, and type 2 diabetes. Too often, it intervenes with treatments too late to help, prolonging lifespan at the expense of healthspan, or quality of life. Dr. Attia believes we must replace this outdated framework with a personalized, proactive strategy for longevity, one where we take action now, rather than waiting.\n\nThis is not “biohacking,” it’s science: a well-founded strategic and tactical approach to extending lifespan while also improving our physical, cognitive, and emotional health. Dr. Attia’s aim is less to tell you what to do and more to help you learn how to think about long-term health, in order to create the best plan for you as an individual. In Outlive, listeners will discover:\n\n• Why the cholesterol test at your annual physical doesn’t tell you enough about your actual risk of dying from a heart attack.\n\n• That you may already suffer from an extremely common yet underdiagnosed liver condition that could be a precursor to the chronic diseases of aging.\n\n• Why exercise is the most potent pro-longevity “drug”—and how to begin training for the “Centenarian Decathlon.”\n\n• Why you should forget about diets, and focus instead on nutritional biochemistry, using technology and data to personalize your eating pattern.\n\n• Why striving for physical health and longevity, but ignoring emotional health, could be the ultimate curse of all.\n\nAging and longevity are far more malleable than we think; our fate is not set in stone. With the right roadmap, you can plot a different path for your life, one that lets you outlive your genes to make each decade better than the one before.";
        bookImage = "images/Book9.png";
    }
    else if (id == 10)
    {
        bookTitle = "Dragon Masters: Cure of the Shadow Dragon"; ;
        bookAuthor = "Tracy West";
        bookDescription = "Pick a book. Grow a Reader!\n\nThis series is part of Scholastic's early chapter book line, Branches, aimed at newly independent readers. With easy-to-read text, high-interest content, fast-paced plots, and illustrations on every page, these books will boost reading confidence and stamina. Branches books help readers grow!\n\nA huge shadow is blanketing the sky, spreading across every kingdom. And wizards all over the world are losing their magic powers! The Dragon Masters soon discover that a Shadow Dragon named Chaya and his Dragon Master, Aruna, are responsible for the sky-shadow. Drake teams up with Jean to figure out how this Shadow Dragon has so much power. Will they stop the sky-shadow, or will the world fall into complete darkness? And is evil magic to blame for all this chaos?\n\nWith engaging black-and-white artwork on every page, kids won't be able to put down this action-packed adventure!";
        bookImage = "images/Book10.png";
    }


    <body>
    <nav>
        <a class="links" href="#">Home</a>
        <a class="links" href="/Cart">My Bag</a>
        <div class="dropdown-menu">
            <button class="menu-btn">My Account </button>
            <div class="menu-content">
                <a class="links-hidden" href="/Profile">Profile</a>
                <a class="links-hidden" href="/MyBooks">My Books</a>
                <a class="links-hidden" href="/Hold">On Hold</a>
                <a class="links-hidden" href="/OverdueDefault">Payments</a>
                <a class="links-hidden" href="/History">History</a>
            </div>
        </div>
        <div class="dropdown-menu">
            <button class="menu-btn">Login </button>
            <div class="menu-content">
                <input class="login" type="text" placeholder="Library Card">
                <input class="login" type="text" placeholder="PIN">
                <u><span style="color:blue; margin-left:3px;">Forgot Password?</span></u>
                <u><span style="color: blue; margin-left:3px;">Create Account</span></u>
                <a class="links-hidden1" href="#">Login</a>
            </div>
        </div>
    </nav>
    <div style="
        display: flex;
        flex-direction: row;
        margin-top: 20px; ">
        <div style="margin-left:0px; margin-top: 10px; display:flex; flex-direction: row;">
            <div><img class="book1" src=@bookImage /></div>
            <div style="margin-left: 20px;">
                <div style="
                color: black;
                width: 250px;
                margin-bottom: 5px;
                font-size:16px">
                    <b>Title:</b> @bookTitle
                </div>
                <div style=" width: 250px; margin-bottom: 5px; font-size: 16px">
                    <b>Author:</b> @bookAuthor
                </div>
                <div style="
                color: black;
                width: 600px;
                margin-bottom: 7px;
                font-size:16px">
                    <b>Description:</b>
                    @if (showFullText)
                    {
                        @bookDescription
                <button @onclick="ToggleShowFullText" style="background-color:transparent;border: none; color: blue; text-decoration: underline; margin-left: 520px; padding-top: 0px;">See less</button>
                    }
                    else
                    {
                
                        <p style="padding-bottom: 0px;">@bookDescription.Substring(0, 500)...</p>
                        <button @onclick="ToggleShowFullText" style="background-color:transparent;border: none; color: blue; text-decoration: underline; margin-left: 530px; padding-top: 0px;">See all</button>
                    }
                </div>
                <div style="margin-top: 7px;">
                    <label for="library"><b>Choose Library:</b></label>
                    <div style="display: flex; flex-direction: row;">
                        <div>
                            <select name="library" id="library">
                                <option value="Foxtowne">Foxtowne</option>
                                <option value="Cresent River">Cresent River</option>
                                <option value="Turner Hill">Turner Hill</option>
                                <option value="Lofton">Lofton</option>
                            </select>
                        </div>
                        <div style="margin-left: 4px;"><span style="color:green"> Available (2)</span></div>
                    </div>

                    <div style="display: flex; flex-direction: row; margin-top: 10px;">
                        <div><button style="border: solid 1px; background-color: #cdced0; border-radius: 3px; ">Add to Bag</button></div>
                        <div><button style="margin-left: 40px; border: solid 1px; background-color: #cdced0; border-radius: 3px; ">Check Out</button></div>
                    </div>
                </div>
                <div>
                    <label style=" margin-top: 15px; " for="library"><b>eBooks:</b></label>

                    <div style="margin-left: 1px;"><span style="color:red">Unavailable </span></div>


                    <div style="display: flex; flex-direction: row; margin-top: 4px;">
                        <div><button style="border: solid 1px; background-color: #cdced0; border-radius: 3px; ">Place Hold</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body> 


<style>
    .book1 {
        width: 250px;
        height: 400px;
        object-fit: cover;
        display: inline-block;
    }
    .menu-btn{
        color: white;
        background-color: #5990ab;
        font-size: 18px;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: none;
    }

    .dropdown-menu {
        position: relative;
        display: inline-block;
        background-color: #5990ab;
        border: none;
    }

    .menu-content {
        display: none;
        position: absolute;
        background-color: #5990ab;
        min-width: 160px;
        z-index: 1;
    }

    nav {
        background-color: #5990ab;
    }

    .links,
    .links-hidden {
        display: inline-block;
        color: white;
        padding: 10px 16px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
    }

    .links-hidden, .links-hidden1 {
        display: block;
    }

    .links {
        display: inline-block;
    }

    .links-hidden:hover, .links-hidden1:hover,
    .links:hover {
        background-color: #becdd1;
        color: white;
    }

    .dropdown-menu:hover .menu-content {
        display: block;
    }

    .dropdown-menu:hover .menu-btn {
        background-color: #5990ab;
    }

    .login {
        margin-left: 3px;
        margin-bottom: 5px;
        margin-top: 5px;
        width: 153px;
    }

    .links-hidden1 {
        display: inline-block;
        color: white;
        padding: 0px 5px;
        background-color: #69747a;
        text-decoration: none;
        font-size: 16px;
        margin-left: 3px;
        margin-bottom: 3px;
    }
    
</style>

}


@code {
    [Parameter] public int id { get; set; }
    bool showFullText = false;
    void ToggleShowFullText()
    {
        showFullText = !showFullText;
    }
}

