@page "/Overdue"

<div class="overdueContainer">
    <h2>OVERDUE</h2>
    <div class="cost">
        <h>Total Fees Due: $12.68</h>
        <button class=" paynow"> <a href="#home"></a> Pay Now </button>
    </div>
</div>


<style>
    .mainOverdue {
        display: inline-block;
    }
    
    .paynow {
        margin: 10px; 
        }

    .cost {
        display: inline-block;
    }

</style>

@code {

}
