@page "/overdue"

<NavBar />

<div class="overdueContainer">
    <h1 class="overduesign">OVERDUE FEES</h1>
    <h1>Total Fees Due: $12.68 </h1>
    <button class="paynow"> Pay All </button>
    <button onclick="myFunction()" id="myBtn">Less Details</button>
</div>

<div class="view">
    <button class="view">Open View</button>
</div>


<table class="table" style="width:70%">
    <tr>
        <th>
            <h2>Book</h2>
            <button class="sort"> - </button>
        </th>
        <th style="width:20%">
            <h2>Due Date</h2>
            <button class="sort"> - </button>
        </th>
        <th style="width:25%"> <h2>Days overdue</h2> <button class="sort"> - </button>  </th>
        <th style="width:25%"> <h2>Overdue Cost</h2> <button class="sort"> - </button>  </th>
        <th> <p>Pay Individually</p>   </th>
    </tr>
    <tr class="book1">
        <td>
            <img class="bookImg" src="images/Book2.png" />
            <p>Title: My Secret Sister</p>
            <p>Author:Lauren Westwood</p>
        </td>
        <td>2023-03-01</td>
        <td>12</td>
        <td>$5.47</td>
        <td><button> Pay Now</button></td>
    </tr>
    <tr class="book2">
        <td>
            <img class="bookImg" src="images/Book4.png" />
            <p>Title: Mad Honey</p>
            <p>Author:Jennifer Finney Boylan</p>
        </td>
        <td>2023-02-25</td>
        <td>15</td>
        <td>$7.21</td>
        <td><button> Pay Now</button></td>
    </tr>

</table>

<style>
    .view {
        text-align: center;
        margin-top: 20px;
    }

    .bookImg {
        width: 150px;
        height: 225px;
    }

    .sort {
        float: right;
    }

    table, th, td {
        border: 1px solid black;
    }

    .table {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .overduesign {
        text-align: center;
    }

    .overdueContainer {
        text-align: center;
    }

    .paynow {
        margin-left: 10px;
        display: inline-block;
    }
</style>

