@page "/Profile"

<!DOCTYPE html>

<head>
    <PageTitle>Profile</PageTitle>
</head>


<body>
    <NavBar />

    <div style="
        display: flex;
        flex-direction: row;
        margin-top: 20px; ">

        <div style=" display: flex; flex-direction:column; margin-top: 50px; margin-left : 50px;">
            <div class="parent">
                <img class="icon" src="images/ProfileIcon.png" />
                <input type="image" class="add" src="images/Add.png" />

            </div>

            <div style=" margin-top: 25px; margin-left: 50px;">
                <div style=" display: flex; flex-direction:row;">
                    <h1 style="font-size: 125%;"> My Information</h1>
                    <input type="image" class="pen" src="images/pen.png" />

                </div>

                <div style=" margin-top : 25px;">
                    <p style="font-size: 100%;"> John Doe</p>
                    <p style="font-size: 100%;"> Date of Birth: January 1st, 1999</p>
                    <p style="font-size: 100%;"> Email Address: johndoe@gmail.com</p>
                </div>

            </div>

        </div>

        <div class="vertical"> </div>



        <div style=" display: flex; flex-direction:column; margin-left: auto; margin-right: auto;">

            <div>
                <h1 style="font-size: 200%; text-align:center;"> My Profile</h1>
            </div>

            <div style=" margin-top: 35px; margin-left: auto; margin-right: auto;">
                <div class="library-card">
                    <div style=" margin-top: 30px;">
                        <h2 style="font-size: 150%; text-align:center;"> Library Card</h2>
                    </div>

                    <div style=" margin-top: 50px;">
                        <p style=" text-align: center;"> 1234 5678 9101 2131 </p>
                    </div>


                    <div style=" display: flex; flex-direction:row; margin-top: 25px;">
                        <div style=" margin:auto;">
                            <p style=" text-align: center;"> xxxxxxx</p>
                        </div>

                        <div style=" margin:auto;">
                            <p style=" text-align: center;"> John Doe</p>
                        </div>

                    </div>



                </div>
            </div>

            <div style=" margin-top: 60px; margin-left: -150px;">
                <h1 style="font-size: 125%;"> Saved Payment Information</h1>
            </div>

            <div style=" display: flex; flex-direction:row;">
                <div style=" display: flex; flex-direction: column; margin-top: 50px; margin-left: -150px;">
                    <p> xxxx xxxx xxxx 1234</p>
                    <p> 01/26</p>
                    <p> John Doe</p>
                </div>


                <a href="/PaymentMethods">
                    <img src="images/Add.png" alt="Add Payment Method" class="add-two" />
                </a>
                <p style="font-size: 100%; text-align:center; margin-left: 10px;"> Add Payment Method</p>


            </div>



        </div>




    </div>
</body>


<style>
    .icon {
        position: relative;
        width: 300px;
        height: 300px;
        object-fit: cover;
        display: inline-block;
    }

    .parent {
        position: relative;
        top: 0;
        left: 0;
        margin-left: 50px;
    }

    .add {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        top: 10px;
        left: 250px;
    }

    .add-two {
        width: 30px;
        height: 30px;
        margin-left: 300px;
    }

    .pen {
        width: 20px;
        height: 20px;
        margin-left: 15px;
    }

    .vertical {
        border-left: 3px solid black;
        height: 600px;
        left: 50%;
        margin-left: 100px;
    }

    .card-box {
        margin: auto;
    }

    .library-card {
        width: 400px;
        height: 225px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
    }
</style>

